footer.main.visible-lg.visible-md
  .container
    .div(block="footer-subs")
      .row(elem="row")
        .col-md-7(elem="col")
          div(elem="wrap")
            .transform-middle(elem="transform")
              span(elem="title").db.text-uppercase Подписаться на наши еженедельные новости
              p(elem="description").text-white Введите Ваш E-Mail и выберети категорию в открывшимся окне.
        .col-md-5(elem="col")
          div(elem="wrap")
            .transform-middle(elem="transform")
              form(elem="form")
                .row(elem="row")
                  .col-xs-9(elem="col")
                    input(type="text" placeholder="Email" elem="input").fluid.no-outline
                  .col-xs-3(elem="col")
                    button(type="submit" elem="btn").btn.btn-orange.fluid.no-outline ОK

  .footer-social
    .container
      .row
        .col-xs-12.col-sm-6.col-md-3.col-lg-3
          .footer-social__item
            .row
              .col-xs-7
                p.text-white.footer-social__title Мы в твиттере
              .col-xs-5
                a(href="#").btn.btn-orange.pull-right Перейти
          .footer-social__block
            img(src="http://placehold.it/270x330" alt="social img").img-responsive
        .col-xs-12.col-sm-6.col-md-3.col-lg-3
          .footer-social__item
            .row
              .col-xs-7
                p.text-white.footer-social__title Мы в Facebook
              .col-xs-5
                a(href="#").btn.btn-orange.pull-right Перейти
          .footer-social__block
            img(src="http://placehold.it/270x330" alt="social img").img-responsive
        .col-xs-12.col-sm-6.col-md-3.col-lg-3
          .footer-social__item
            .row
              .col-xs-7
                p.text-white.footer-social__title Мы Вконтакте
              .col-xs-5
                a(href="#").btn.btn-orange.pull-right Перейти
          .footer-social__block
            img(src="http://placehold.it/270x330" alt="social img").img-responsive
        .col-xs-12.col-sm-6.col-md-3.col-lg-3
          .footer-social__item
            .row
              .col-xs-7
                p.text-white.footer-social__title Мы в Pinterest
              .col-xs-5
                a(href="#").btn.btn-orange.pull-right Перейти
          .footer-social__block
            img(src="http://placehold.it/270x330" alt="social img").img-responsive

  .container
    .row
      .col-xs-12.col-sm-6.col-md-6.col-lg-6
        .footer-last-user
          p.footer-last-user__title.text-white <span class="icon-users-1"></span> Последние посетители
          .row
            -for(var i = 0; i < 15; i++)
              .col-xs-6.col-sm-6.col-md-6.col-lg-4
                .row
                  .col-xs-6
                    .footer-last-user__img
                      img(src="http://placehold.it/67x67" alt="user avatar").img-responsive
                  .col-xs-6
                    span.db.footer-last-user__text сейчас
                      span(class="footer-last-user__status #{ i % 2 == 0 ? 'off' : ''}") #{ i % 2 == 0 ? 'OFF' : 'ON'}
                    span.db.footer-last-user__text.text-overflow Ник #{users[Math.floor(Math.random() * ((users.length-1) - 0 + 1)) + 0]}
                    span.db.footer-last-user__text Пользователи
                    span.db.footer-last-user__text Был в 0#{Math.floor(Math.random() * (9 - 1 + 1)) + 1}:0#{Math.floor(Math.random() * (9 - 1 + 1)) + 1}

      .col-xs-12.col-sm-6.col-md-6.col-lg-6
        .clearfix(block="footer-tags")
          p(elem="title").text-white <span class="icon-tag"></span> Теги сайта
          -for(var i = 0; i < 50; i++)
            a(href="#" elem="item").db #{tags[Math.floor(Math.random() * ((tags.length - 1) - 0 + 1)) + 0]}
        .show-all-tags
          a(href="").btn.btn-orange Показать все теги

.footer-copyright.text-white
  .container
    .clearfix(block="site-working")
      span.pull-left(elem="title") Сайт работает в
      ul.menu-list.pull-left(elem="list")
        li(elem="item"): span.icon-windows(elem="icon")
        li(elem="item"): span.icon-android(elem="icon")
        li(elem="item"): span.icon-apple(elem="icon")
        //- li.pull-left: span.icon-ie.text-white.site-working__icon

    ul.menu-list(block="copyright-text")
      li(elem="item") Copyright 2015 г.
      li(elem="item") «Vseopro.ru»
      //- li.text-white.copyright-text__item Яндекс.метрика
      //- li.text-white.copyright-text__item.text-uppercase Анализ сайта

    ul.menu-list(block="footer-link")
      li(elem="item"): a(href="#" elem="link") Карта сайта
      li(elem="item"): a(href="#" elem="link") Обратная связь
      li(elem="item"): a(href="#" elem="link") Правообладателям
      li(elem="item"): a(href="#" elem="link") Заказ рекламы

    ul.menu-list(block="footer-ico")
      li(elem="item"): a(href="#" elem="link").vk: span.icon-vk
      li(elem="item"): a(href="#" elem="link").odnoklassniki: span.icon-odnoklassniki
      li(elem="item"): a(href="#" elem="link").twitter: span.icon-twitter
      li(elem="item"): a(href="#" elem="link").google: span.icon-gplus
      li(elem="item"): a(href="#" elem="link").facebook: span.icon-facebook
      li(elem="item"): a(href="#" elem="link").rss: span.icon-rss
