.white-block
  h5.white-block__sidebar-title.mt0 <span class="icon-chart-pie"></span> Статистика сайта
  .site-statistic
    .row
      .col-xs-9
        p.site-statistic__text Новостей: <span class="site-statistic__count">#{Math.floor(Math.random() * (15 - 1300) + 1300)}</span>
      .col-xs-3
        p.text-right.site-statistic__label +#{Math.floor(Math.random() * (15 - 1300) + 1300)}
    .row
      .col-xs-9
        p.site-statistic__text Комментариев: <span class="site-statistic__count">#{Math.floor(Math.random() * (15 - 1300) + 1300)}</span>
      .col-xs-3
        p.text-right.site-statistic__label +#{Math.floor(Math.random() * (15 - 1300) + 1300)}
    .row
      .col-xs-9
        p.site-statistic__text Пользователей: <span class="site-statistic__count">#{Math.floor(Math.random() * (15 - 1300) + 1300)}</span>
      .col-xs-3
        p.text-right.site-statistic__label +#{Math.floor(Math.random() * (15 - 1300) + 1300)}

    span.db.site-statistic__group-title Из них
    span.db.site-statistic__text.red <span class="icon-user"></span> Администраторов: <span class="site-statistic__count">#{Math.floor(Math.random() * (15 - 1300) + 1300)}</span>
    span.db.site-statistic__text.blue <span class="icon-user"></span> Модераторов: <span class="site-statistic__count">#{Math.floor(Math.random() * (15 - 1300) + 1300)}</span>
    span.db.site-statistic__text.green <span class="icon-user"></span> Журналистов: <span class="site-statistic__count">#{Math.floor(Math.random() * (15 - 1300) + 1300)}</span>
    span.db.site-statistic__text.light-blue <span class="icon-user"></span> Проверенных: <span class="site-statistic__count">#{Math.floor(Math.random() * (15 - 1300) + 1300)}</span>
    span.db.site-statistic__text.orange <span class="icon-user"></span> Потребителей: <span class="site-statistic__count">#{Math.floor(Math.random() * (15 - 1300) + 1300)}</span>

    span.db.site-statistic__group-title Зарегистрировались
    span.db.site-statistic__text Сегодня: <span class="site-statistic__count">#{Math.floor(Math.random() * (15 - 1300) + 1300)}</span>
    span.db.site-statistic__text Вчера: <span class="site-statistic__count">#{Math.floor(Math.random() * (15 - 1300) + 1300)}</span>
    span.db.site-statistic__text За неделю: <span class="site-statistic__count">#{Math.floor(Math.random() * (15 - 1300) + 1300)}</span>
    span.db.site-statistic__text За месяц: <span class="site-statistic__count">#{Math.floor(Math.random() * (15 - 1300) + 1300)}</span>
