// основное меню видно везде кроме мобильных устройств
.main-nav
  ul.clearfix.pull-left
    each key in navMenu
      if key.submenu == undefined
        li
          a(href="#{key.url}") #{key.text}
      if key.submenu !== undefined
        li
          a(href="#").has-menu #{key.text}
          ul
            each val in key.submenu
              if val.submenu == undefined
                li
                  a(href="#") #{val.text}
              if val.submenu !== undefined
                li
                  a(href="#").has-menu #{val.text}
                  ul
                    each link in val.submenu
                      li
                        a(href="#") #{link.text}
