extends meta/_layout

block content
  include components/_hot-news

  .container
    .row.pr
      // основные блоки
      .col-md-8.grand-content
        //- include components/_forums-answer

        .white-block
          h4.white-block__title.mt0 <span class="icon-lightbulb"></span> Важные новости
          div(block="important-news")
            .row(elem="row")
              .col-md-6(elem="col")
                img(src="img/img_important_news.png" alt="tab news image" elem="img").img-responsive
              .col-md-6(elem="col")
                h2.text-bold.db(elem="title")
                  a(href="#" elem="link").dark-blue-link #{title[Math.floor(Math.random() * ((title.length-1) - 0 + 1)) + 0]}
                include components/_news-metadata
                p(elem="description") Дная затоплен служба Яндекс. ываыдвшао,  Рефераты предназначена  затоплен служба затоплен служба  ..фывфывфыв фывфы. Рефераты предназначена  затоплен Яндекспре дназначена  затоплен Яндекс.
                a(href="#" role="button" elem="button").btn.btn-orange.db Читать подробнее

        .white-block
          h4.white-block__title.mt0 <span class="icon-bookmark"></span> Последние новости
          .last-news
            -for(var i = 0; i < 10; i++)
              .last-news__item
                .row
                  .col-md-4
                    img(src="img/img_demo_last-news.jpg" alt="last news img").img-responsive.last-news__img
                  .col-md-8
                    h2.text-bold.db.last-news__title
                      a(href="#").dark-blue-link #{title[Math.floor(Math.random() * ((title.length-1) - 0 + 1)) + 0]}
                    include components/_news-metadata
                    .last-news__demo-text
                      p.mb0 #{textSecond[Math.floor(Math.random() * ((textSecond.length-1) - 0 + 1)) + 0]} <a href="#" class="last-news__demo-text--link link">Читать далее...</a>

          include components/_pagination

        include components/_click-block

        -for(var i = 0; i < 3; i++)
          .white-block
            h4.white-block__title.mt0 <span class="icon-bookmark"></span> Последнее из Datalife Engine
            .tab-news

              // Nav tabs
              ul.nav.nav-tabs.tabs-red(role='tablist')
                li.active(role='presentation')
                  a(href='#tab-teplate#{i+1}', aria-controls='tab-teplate#{i+1}', role='tab', data-toggle='tab') Шаблоны
                li(role='presentation')
                  a(href='#tab-modules#{i+1}', aria-controls='tab-modules#{i+1}', role='tab', data-toggle='tab') Модули
                li(role='presentation')
                  a(href='#tab-hacks#{i+1}', aria-controls='tab-hacks#{i+1}', role='tab', data-toggle='tab') Хаки
                li(role='presentation')
                  a(href='#tab-forums#{i+1}', aria-controls='tab-forums#{i+1}', role='tab', data-toggle='tab') Форумы
                li(role='presentation')
                  a(href='#tab-relize#{i+1}', aria-controls='tab-forums#{i+1}', role='tab', data-toggle='tab') Релизы

              // Tab panes
              .tab-content.tabs-red__content
                each wer, ter in ['tab-teplate','tab-modules','tab-hacks','tab-forums','tab-relize']
                  div(role='tabpanel' id="#{wer}#{i + 1}" class="tab-pane #{ter === 0 ? 'active' : 'fade'}")
                    .row.col-table
                      .col-md-6.tab-content__table-col
                        .tab-grand-news
                        img(src="img/img_tab_news.jpg" alt="tab news image").tab-grand-news__img.img-responsive
                        h2.text-bold.db.tab-grand-news__title
                          a(href="#").dark-blue-link #{title[Math.floor(Math.random() * ((title.length-1) - 0 + 1)) + 0]}
                        include components/_news-metadata
                        p.tab-grand-news__description #{textSecond[Math.floor(Math.random() * ((textSecond.length-1) - 0 + 1)) + 0]}
                        a(href="#" role="button").btn.btn-orange.db.tab-grand-news__button Читать подробнее
                      .col-md-6.tab-content__table-col
                        -for(var e = 0; e < 3; e++)
                          .tab-mini-news
                            .row
                              .col-md-6
                                img(src="img/img_tab_news2.jpg" alt="tab news image").tab-mini-news__img.img-responsive
                              .col-md-6
                                h3.mt0.tab-mini-news__description
                                  a(href="#").dark-blue-link.text-bold Горячие капеция дня затоплен цукцукв ук право на репост выавыа ыв выапвалпо вавыаываы
                            include components/_news-metadata

          -if(i === 1)
            include components/_click-block

      // сайдбар
      .col-xs-4.visible-md.visible-lg.sidebar

        // Выбор редакции
        include widgets/_editors-choice

        // Комментарии
        include widgets/_sidebar-comments

        // Выбор редакции
        include widgets/_editors-choice

        // Популярные новости
        include widgets/_popular-news

        // Опрос на сайте
        include widgets/_vote-widget

        // Пользователи онлайн
        include widgets/_user-online

        // Статистика сайта
        include widgets/_site-statistic

        // Апдейты
        include widgets/_sidebar-updates

        //- География сайта
        //- include widgets/_sidebar-geography

        //- Панель управления
        //- include widgets/_sidebar-login-form

        //- Чат пользователей
        //- include widgets/_sidebar-chat

        //- Подписка
        //- include widgets/_sidebar-subscribe

        //- Мы рекомендуем
        //- include widgets/_editors-choice


  //блок с приветствием
  .container
    .white-block(block="welcome-block")
      h1.white-block__title.mt0 <span class="icon-home"></span> Добро пожаловать на сайт
      .read-more-block(data-collapsed-height="80")
        -for(var i = 0; i < 5; i++)
          p(elem="text") #{title[Math.floor(Math.random() * ((title.length-1) - 0 + 1)) + 0]}

