div(block="white-block")
  h5(elem="sidebar-title") <span class="icon-chart-pie"></span> Статистика сайта
  div(block="site-statistic")
    .row(elem="row")
      .col-xs-9(elem="col")
        span(elem="text").db Новостей: <span elem="count">#{Math.floor(Math.random() * (15 - 1300) + 1300)}</span>
      .col-xs-3(elem="col")
        span(elem="label").db.text-right +#{Math.floor(Math.random() * (15 - 1300) + 1300)}
    .row(elem="row")
      .col-xs-9(elem="col")
        span(elem="text").db Комментариев: <span elem="count">#{Math.floor(Math.random() * (15 - 1300) + 1300)}</span>
      .col-xs-3(elem="col")
        span(elem="label").db.text-right +#{Math.floor(Math.random() * (15 - 1300) + 1300)}
    .row(elem="row")
      .col-xs-9(elem="col")
        span(elem="text").db Пользователей: <span elem="count">#{Math.floor(Math.random() * (15 - 1300) + 1300)}</span>
      .col-xs-3(elem="col")
        span(elem="label").db.text-right +#{Math.floor(Math.random() * (15 - 1300) + 1300)}

    span.db(elem="group-title") Из них
    span.db(elem="text") <span class="icon-user"></span> Администраторов: <span elem="count">#{Math.floor(Math.random() * (-15 - 1300) + 1300)}</span>
    span.db(elem="text") <span class="icon-user"></span> Модераторов: <span elem="count">#{Math.floor(Math.random() * (15 - 1300) + 1300)}</span>
    span.db(elem="text") <span class="icon-user"></span> Журналистов: <span elem="count">#{Math.floor(Math.random() * (15 - 1300) + 1300)}</span>
    span.db(elem="text") <span class="icon-user"></span> Проверенных: <span elem="count">#{Math.floor(Math.random() * (15 - 1300) + 1300)}</span>
    span.db(elem="text") <span class="icon-user"></span> Потребителей: <span elem="count">#{Math.floor(Math.random() * (15 - 1300) + 1300)}</span>

    span.db(elem="group-title") Зарегистрировались
    span.db(elem="text") Сегодня: <span elem="count">#{Math.floor(Math.random() * (15 - 1300) + 1300)}</span>
    span.db(elem="text") Вчера: <span elem="count">#{Math.floor(Math.random() * (15 - 1300) + 1300)}</span>
    span.db(elem="text") За неделю: <span elem="count">#{Math.floor(Math.random() * (15 - 1300) + 1300)}</span>
    span.db(elem="text") За месяц: <span elem="count">#{Math.floor(Math.random() * (15 - 1300) + 1300)}</span>
