-var user = ['Administrator', 'TDSko', 'Pasha', 'Sasha', 'SuperMegaDuperUser']
-var tag = ['Фотошоп', 'Photohop', 'Илюстратор', 'Длинныйтекст', 'Оч Длинный текст']

.row-mini.news-metadata
  .col-sm-4.col-md-4
    a(href="#").link.news-metadata__text.text-overflow <span class="icon-user news-metadata__ico"></span> #{user[Math.floor(Math.random() * ((user.length - 1) - 0 + 1)) + 0]}
  .col-sm-4.col-md-4
    a(href="#").link.news-metadata__text.text-overflow <span class="icon-calendar news-metadata__ico"></span> #{Math.floor(Math.random() * (31 - 1 + 1)) + 1}.#{Math.floor(Math.random() * (12 - 1 + 1)) + 1}.#{Math.floor(Math.random() * (2100 - 2000 + 1)) + 2000}
  .col-sm-4.col-md-4
    a(href="#" data-toggle="tooltip" data-placement="top" title="#{tag[Math.floor(Math.random() * ((tag.length - 1) - 0 + 1)) + 0]}").link.news-metadata__text.text-overflow
      <span class="icon-folder-open news-metadata__ico"></span>
      | #{tag[Math.floor(Math.random() * ((tag.length - 1) - 0 + 1)) + 0]}
