nav.main.open-menu-position
  .container.pr.open-menu-position
    .row.open-menu-position
      .hidden-md.hidden-lg.pull-left
        button(type="button" data-show="left-menu").open-menu__button.no-outline.no-select.pull-left
          -for(var i = 0; i < 3; i++)
            span.open-menu__span
        span.nav-main__button-label.text-white Меню

      .hidden-md.hidden-lg.pull-right
        button(type="button" data-show="right-menu").open-menu__button.no-outline.no-select.pull-right
          -for(var i = 0; i < 3; i++)
            span.open-menu__span
        span.login-form__button-label.text-white Вход
      //- .nav-main.visible-md.visible-lg

      <!-- основное меню видно везде кроме мобильных устройств -->
      .nav-main.clearfix.visible-md.visible-lg
        ul.lsn.pl0.mb0.clearfix.first-menu__list
          each key in navMenu
            if key.submenu == undefined
              li.first-menu__item
                a(href="#{key.url}").db.no-underline.cur.no-select.first-menu__link #{key.text}
            if key.submenu !== undefined
              li.first-menu__item.first-menu__has-menu
                a.db.no-underline.cur.no-select.first-menu__link #{key.text}
                ul.second-menu__list.pl0.mb0
                  each val in key.submenu
                    if val.submenu == undefined
                      li.second-menu__item
                        a(href="#").second-menu__link.db.no-underline.cur.no-select #{val.text}
                    if val.submenu !== undefined
                      li.second-menu__item.second-menu__has-menu
                        a.second-menu__link.db.no-underline.cur.no-select #{val.text}
                        ul.third-menu__list.pl0.mb0
                          each link in val.submenu
                            li.third-menu__item
                              a(href="#").third-menu__link.db.no-underline.cur.no-select #{link.text}

      <!-- мобильное меню видно на всех устройств менбше 992px -->
      .nav-main.clearfix#mobile-menu
        .list-group.panel
          each key, i in navMenu
            if key.submenu == undefined
              a(href="#").list-group-item.mobile__link__first #{key.text}
            if key.submenu !== undefined
              a(href="#target-menu#{i}" data-toggle="collapse" data-parent="#mobile-menu").list-group-item.mobile__link__first.mobile__has-menu #{key.text}
              .collapse(id='target-menu#{i}')
                each val,e in key.submenu
                  if val.submenu == undefined
                    a(href="#").list-group-item.mobile__link__second #{val.text}
                  if val.submenu !== undefined
                    a(href="#target-submenu#{i}#{e}" data-toggle="collapse" data-parent="#SubMenu1").list-group-item.mobile__link__second.mobile__has-menu #{val.text}
                    .collapse.list-group-submenu(id="target-submenu#{i}#{e}")
                      each link in val.submenu
                        a(href="#" class="list-group-item").mobile__link__third #{link.text}

        //- ul.lsn.pl0.mb0.clearfix.first-menu__list
        //-   each key in navMenu
        //-     if key.submenu == undefined
        //-       li.first-menu__item
        //-         a(href="#{key.url}").db.no-underline.cur.no-select.first-menu__link #{key.text}
        //-     if key.submenu !== undefined
        //-       li.first-menu__item.first-menu__has-menu
        //-         a.db.no-underline.cur.no-select.first-menu__link #{key.text}
        //-         ul.second-menu__list.pl0.mb0
        //-           each val in key.submenu
        //-             if val.submenu == undefined
        //-               li.second-menu__item
        //-                 a(href="#").second-menu__link.db.no-underline.cur.no-select #{val.text}
        //-             if val.submenu !== undefined
        //-               li.second-menu__item.second-menu__has-menu
        //-                 a.second-menu__link.db.no-underline.cur.no-select #{val.text}
        //-                 ul.third-menu__list.pl0.mb0
        //-                   each link in val.submenu
        //-                     li.third-menu__item
        //-                       a(href="#").third-menu__link.db.no-underline.cur.no-select #{link.text}

      //- .nav-main
        ul.lsn.pl0.mb0.clearfix.first-menu__list
          li.first-menu__item
            a(href="#").db.no-underline.cur.no-select.first-menu__link Главная
          li.first-menu__item
            a(href="#").db.no-underline.cur.no-select.first-menu__link Популярные cms
          li.first-menu__item
            a(href="#").db.no-underline.cur.no-select.first-menu__link Другие
          li.first-menu__item
            a(href="#").db.no-underline.cur.no-select.first-menu__link Веб-мастеру
          li.first-menu__item.first-menu__has-menu
            a(href="#").db.no-underline.cur.no-select.first-menu__link Игры
            ul.second-menu__list.pl0.mb0
              li.second-menu__item.second-menu__has-menu
                a(href-"#").second-menu__link.db.no-underline.cur.no-select Браузерные игры
                ul.third-menu__list.pl0.mb0
                  li.third-menu__item.third-menu__has-menu
                    a(href-"#").third-menu__link.db.no-underline.cur.no-select Браузерные игры
                  li.third-menu__item
                    a(href-"#").third-menu__link.db.no-underline.cur.no-select Браузерные игры
                  li.third-menu__item
                    a(href-"#").third-menu__link.db.no-underline.cur.no-select Браузерные игры
                  li.third-menu__item
                    a(href-"#").third-menu__link.db.no-underline.cur.no-select Браузерные игры
                  li.third-menu__item
                    a(href-"#").third-menu__link.db.no-underline.cur.no-select Браузерные игры
                  li.third-menu__item
                    a(href-"#").third-menu__link.db.no-underline.cur.no-select Игровые CMS
              li.second-menu__item.second-menu__has-menu
                a(href-"#").second-menu__link.db.no-underline.cur.no-select Браузерные игры
                ul.third-menu__list.pl0.mb0
                  li.third-menu__item.third-menu__has-menu
                    a(href-"#").third-menu__link.db.no-underline.cur.no-select Браузерные игры
                  li.third-menu__item
                    a(href-"#").third-menu__link.db.no-underline.cur.no-select Браузерные игры
                  li.third-menu__item
                    a(href-"#").third-menu__link.db.no-underline.cur.no-select Браузерные игры
                  li.third-menu__item
                    a(href-"#").third-menu__link.db.no-underline.cur.no-select Браузерные игры
                  li.third-menu__item
                    a(href-"#").third-menu__link.db.no-underline.cur.no-select Браузерные игры
                  li.third-menu__item
                    a(href-"#").third-menu__link.db.no-underline.cur.no-select Игровые CMS
              li.second-menu__item.second-menu__has-menu
                a(href-"#").second-menu__link.db.no-underline.cur.no-select Браузерные игры
                ul.third-menu__list.pl0.mb0
                  li.third-menu__item.third-menu__has-menu
                    a(href-"#").third-menu__link.db.no-underline.cur.no-select Браузерные игры
                  li.third-menu__item
                    a(href-"#").third-menu__link.db.no-underline.cur.no-select Браузерные игры
                  li.third-menu__item
                    a(href-"#").third-menu__link.db.no-underline.cur.no-select Браузерные игры
                  li.third-menu__item
                    a(href-"#").third-menu__link.db.no-underline.cur.no-select Браузерные игры
                  li.third-menu__item
                    a(href-"#").third-menu__link.db.no-underline.cur.no-select Браузерные игры
                  li.third-menu__item
                    a(href-"#").third-menu__link.db.no-underline.cur.no-select Игровые CMS
              li.second-menu__item.second-menu__has-menu
                a(href-"#").second-menu__link.db.no-underline.cur.no-select Браузерные игры
                ul.third-menu__list.pl0.mb0
                  li.third-menu__item.third-menu__has-menu
                    a(href-"#").third-menu__link.db.no-underline.cur.no-select Браузерные игры
                  li.third-menu__item
                    a(href-"#").third-menu__link.db.no-underline.cur.no-select Браузерные игры
                  li.third-menu__item
                    a(href-"#").third-menu__link.db.no-underline.cur.no-select Браузерные игры
                  li.third-menu__item
                    a(href-"#").third-menu__link.db.no-underline.cur.no-select Браузерные игры
                  li.third-menu__item
                    a(href-"#").third-menu__link.db.no-underline.cur.no-select Браузерные игры
                  li.third-menu__item
                    a(href-"#").third-menu__link.db.no-underline.cur.no-select Игровые CMS
              li.second-menu__item.second-menu__has-menu
                a(href-"#").second-menu__link.db.no-underline.cur.no-select Браузерные игры
                ul.third-menu__list.pl0.mb0
                  li.third-menu__item.third-menu__has-menu
                    a(href-"#").third-menu__link.db.no-underline.cur.no-select Браузерные игры
                  li.third-menu__item
                    a(href-"#").third-menu__link.db.no-underline.cur.no-select Браузерные игры
                  li.third-menu__item
                    a(href-"#").third-menu__link.db.no-underline.cur.no-select Браузерные игры
                  li.third-menu__item
                    a(href-"#").third-menu__link.db.no-underline.cur.no-select Браузерные игры
                  li.third-menu__item
                    a(href-"#").third-menu__link.db.no-underline.cur.no-select Браузерные игры
                  li.third-menu__item
                    a(href-"#").third-menu__link.db.no-underline.cur.no-select Игровые CMS
          li.first-menu__item.first-menu__has-menu
            a(href="#").db.no-underline.cur.no-select.first-menu__link Сервисы
            ul.second-menu__list.pl0.mb0
              li.second-menu__item.second-menu__has-menu
                a(href-"#").second-menu__link.db.no-underline.cur.no-select Браузерные игры
                ul.third-menu__list.pl0.mb0
                  li.third-menu__item.third-menu__has-menu
                    a(href-"#").third-menu__link.db.no-underline.cur.no-select Браузерные игры
                  li.third-menu__item
                    a(href-"#").third-menu__link.db.no-underline.cur.no-select Браузерные игры
                  li.third-menu__item
                    a(href-"#").third-menu__link.db.no-underline.cur.no-select Браузерные игры
                  li.third-menu__item
                    a(href-"#").third-menu__link.db.no-underline.cur.no-select Браузерные игры
                  li.third-menu__item
                    a(href-"#").third-menu__link.db.no-underline.cur.no-select Браузерные игры
                  li.third-menu__item
                    a(href-"#").third-menu__link.db.no-underline.cur.no-select Игровые CMS
              li.second-menu__item.second-menu__has-menu
                a(href-"#").second-menu__link.db.no-underline.cur.no-select Браузерные игры
                ul.third-menu__list.pl0.mb0
                  li.third-menu__item.third-menu__has-menu
                    a(href-"#").third-menu__link.db.no-underline.cur.no-select Браузерные игры
                  li.third-menu__item
                    a(href-"#").third-menu__link.db.no-underline.cur.no-select Браузерные игры
                  li.third-menu__item
                    a(href-"#").third-menu__link.db.no-underline.cur.no-select Браузерные игры
                  li.third-menu__item
                    a(href-"#").third-menu__link.db.no-underline.cur.no-select Браузерные игры
                  li.third-menu__item
                    a(href-"#").third-menu__link.db.no-underline.cur.no-select Браузерные игры
                  li.third-menu__item
                    a(href-"#").third-menu__link.db.no-underline.cur.no-select Игровые CMS
              li.second-menu__item.second-menu__has-menu
                a(href-"#").second-menu__link.db.no-underline.cur.no-select Браузерные игры
                ul.third-menu__list.pl0.mb0
                  li.third-menu__item.third-menu__has-menu
                    a(href-"#").third-menu__link.db.no-underline.cur.no-select Браузерные игры
                  li.third-menu__item
                    a(href-"#").third-menu__link.db.no-underline.cur.no-select Браузерные игры
                  li.third-menu__item
                    a(href-"#").third-menu__link.db.no-underline.cur.no-select Браузерные игры
                  li.third-menu__item
                    a(href-"#").third-menu__link.db.no-underline.cur.no-select Браузерные игры
                  li.third-menu__item
                    a(href-"#").third-menu__link.db.no-underline.cur.no-select Браузерные игры
                  li.third-menu__item
                    a(href-"#").third-menu__link.db.no-underline.cur.no-select Игровые CMS
              li.second-menu__item.second-menu__has-menu
                a(href-"#").second-menu__link.db.no-underline.cur.no-select Браузерные игры
                ul.third-menu__list.pl0.mb0
                  li.third-menu__item.third-menu__has-menu
                    a(href-"#").third-menu__link.db.no-underline.cur.no-select Браузерные игры
                  li.third-menu__item
                    a(href-"#").third-menu__link.db.no-underline.cur.no-select Браузерные игры
                  li.third-menu__item
                    a(href-"#").third-menu__link.db.no-underline.cur.no-select Браузерные игры
                  li.third-menu__item
                    a(href-"#").third-menu__link.db.no-underline.cur.no-select Браузерные игры
                  li.third-menu__item
                    a(href-"#").third-menu__link.db.no-underline.cur.no-select Браузерные игры
                  li.third-menu__item
                    a(href-"#").third-menu__link.db.no-underline.cur.no-select Игровые CMS
              li.second-menu__item.second-menu__has-menu
                a(href-"#").second-menu__link.db.no-underline.cur.no-select Браузерные игры
                ul.third-menu__list.pl0.mb0
                  li.third-menu__item.third-menu__has-menu
                    a(href-"#").third-menu__link.db.no-underline.cur.no-select Браузерные игры
                  li.third-menu__item
                    a(href-"#").third-menu__link.db.no-underline.cur.no-select Браузерные игры
                  li.third-menu__item
                    a(href-"#").third-menu__link.db.no-underline.cur.no-select Браузерные игры
                  li.third-menu__item
                    a(href-"#").third-menu__link.db.no-underline.cur.no-select Браузерные игры
                  li.third-menu__item
                    a(href-"#").third-menu__link.db.no-underline.cur.no-select Браузерные игры
                  li.third-menu__item
                    a(href-"#").third-menu__link.db.no-underline.cur.no-select Игровые CMS
          li.first-menu__item
            a(href="#").db.no-underline.cur.no-select.first-menu__link Платное
          li.first-menu__item
            a(href="#").db.no-underline.cur.no-select.first-menu__link Помощь сайту
      //- .nav-search.visible-md.visible-lg
      .nav-search
        .dropdown
          a#search-form__label(data-target="#" href="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false")
            span.dib.nav-search__find.icon-search.cur.no-select
          .search-form.hover-transform-before.dropdown-menu(aria-labelledby="search-form__label")
            form.search-form__form.pr
              span.icon-search.search-form__ico
              input(type='text' placeholder="Введите текст для поиска").search-form__field.fluid.no-outline
              button(type="submit").search-form__submit.no-outline
                span.icon-right
        .dropdown
          a#login-form__label(data-target="#" href="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false")
            span.dib.nav-search__login.icon-login.cur.no-select Вход
          .login-form.hover-transform-before.dropdown-menu(aria-labelledby="login-form__label")
            .container-fluid
              .row
                .col-md-4.login-form__col
                  h3.login-form__title.text-center Вход на сайт
                  form
                    input(type="text" placeholder="Логин или email").fluid.login-form__login.no-outline
                    input(type="password" placeholder="Пароль").fluid.login-form__password.no-outline
                    .row
                      .col-xs-12.col-sm-12.col-md-6.col-lg-6
                        button(type="submit").btn.btn-orange.fluid.login-form__btn Войти
                      .col-xs-12.col-sm-12.col-md-6.col-lg-6
                        a(href="http://google.com").login-form__restore.hover-underline.db Восстановить пароль

                .col-md-4.login-form__col
                  h3.login-form__title.text-center Войти через
                  .row
                    .col-xs-12.col-sm-12.col-md-6.col-lg-6
                      a(href="#").login-form__btn.btn.btn-vk.fluid Вконтакте
                    .col-xs-12.col-sm-12.col-md-6.col-lg-6
                      a(href="#").login-form__btn.btn.btn-google.fluid Google
                    .col-xs-12.col-sm-12.col-md-6.col-lg-6
                      a(href="#").login-form__btn.btn.btn-odnoklassniki.fluid Одноклассники
                    .col-xs-12.col-sm-12.col-md-6.col-lg-6
                      a(href="#").login-form__btn.btn.btn-mail.fluid Mail.ru
                    .col-xs-12.col-sm-12.col-md-6.col-lg-6
                      a(href="#").login-form__btn.btn.btn-facebook.fluid Facebook
                    .col-xs-12.col-sm-12.col-md-6.col-lg-6
                      a(href="#").login-form__btn.btn.btn-yandex.fluid Яндекс

                .col-md-4.login-form__col
                  h3.login-form__title.text-center Я новый пользователь
                  p.login-form__description Чтобы полноценно пользоваться нашим сайтом, вам необходимо зарегистрироваться. Это просто и займет всего одну минуту.
                  a(href="#").btn.btn-red.login-form__register.fluid Зарегистрироваться

