.affix-wrap
  nav.main.open-menu-position.nav-afix(data-spy="affix" data-offset-top="135" data-offset-bottom="200")
    .container.pr.open-menu-position
      .row.open-menu-position
        .hidden-md.hidden-lg.pull-left
          button(type="button" data-show="left-menu").open-menu__button.no-outline.no-select.pull-left
            span.dib
              -for(var i = 0; i < 3; i++)
                span.open-menu__span
            span.nav-main__button-label.text-white Меню

        .hidden-md.hidden-lg.pull-right
          button(type="button" data-show="right-menu").open-menu__button.no-outline.no-select.pull-right
            span.login-form__button-label.text-white Вход
            span.dib
              -for(var i = 0; i < 3; i++)
                span.open-menu__span
        //- .nav-main.visible-md.visible-lg

        // основное меню видно везде кроме мобильных устройств
        .nav-main.clearfix.visible-md.visible-lg
          ul.lsn.pl0.mb0.clearfix.first-menu__list
            each key in navMenu
              if key.submenu == undefined
                li.first-menu__item
                  a(href="#{key.url}").db.no-underline.cur.no-select.first-menu__link #{key.text}
              if key.submenu !== undefined
                li.first-menu__item.first-menu__has-menu
                  a.db.no-underline.cur.no-select.first-menu__link #{key.text}
                  ul.second-menu__list.pl0.mb0
                    each val in key.submenu
                      if val.submenu == undefined
                        li.second-menu__item
                          a(href="#").second-menu__link.db.no-underline.cur.no-select #{val.text}
                      if val.submenu !== undefined
                        li.second-menu__item.second-menu__has-menu
                          a.second-menu__link.db.no-underline.cur.no-select #{val.text}
                          ul.third-menu__list.pl0.mb0
                            each link in val.submenu
                              li.third-menu__item
                                a(href="#").third-menu__link.db.no-underline.cur.no-select #{link.text}

        // мобильное меню видно на всех устройств меньше 992px
        .nav-main.clearfix#mobile-menu
          .list-group.panel
            each key, i in navMenu
              if key.submenu == undefined
                a(href="#").list-group-item.mobile__link__first #{key.text}
              if key.submenu !== undefined
                a(href="#target-menu#{i}" data-toggle="collapse" data-parent="#mobile-menu").list-group-item.mobile__link__first.mobile__has-menu #{key.text}
                .collapse(id='target-menu#{i}')
                  each val,e in key.submenu
                    if val.submenu == undefined
                      a(href="#").list-group-item.mobile__link__second #{val.text}
                    if val.submenu !== undefined
                      a(href="#target-submenu#{i}#{e}" data-toggle="collapse" data-parent="#SubMenu1").list-group-item.mobile__link__second.mobile__has-menu #{val.text}
                      .collapse.list-group-submenu(id="target-submenu#{i}#{e}")
                        each link in val.submenu
                          a(href="#" class="list-group-item").mobile__link__third #{link.text}

        .nav-search
          .dropdown
            a(data-target="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false")#search-form__label.nav-search__find.db.no-underline.no-select
              span.icon-search
            .search-form.hover-transform-before.dropdown-menu.no-select(aria-labelledby="search-form__label")
              form.search-form__form.pr
                span.icon-search.search-form__ico
                input(type='text' placeholder="Введите текст для поиска").search-form__field.fluid.no-outline
                button(type="submit").search-form__submit.no-outline
                  span.icon-right

          //- выпадающее меню
          .dropdown
            a(data-target="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false")#login-form__label.nav-search__login.db.no-underline.no-select <span class="icon-login"></span> Профиль
            .login-form.hover-transform-before.dropdown-menu.no-select(aria-labelledby="login-form__label")
              .container-fluid
                .row-responsive
                  .col-md-2
                    img(src="http://placehold.it/160", alt="avatar").profile-info__avatar.img-responsive
                    a(href="#").btn.btn-red.fluid Админпанель
                  .col-md-4
                    span.db.profile-info__title.puple Информация
                    ul.lsn.pl0.mb0.profile-info__list
                      li.profile-info__item: <span class="profile-info__icon icon-graduation-cap"></span> Ник: Админ
                      li.profile-info__item: <span class="profile-info__icon icon-user"></span> Имя: Саня
                      li.profile-info__item: <span class="profile-info__icon icon-venus-mars"></span> Пол: мужской
                      li.profile-info__item: <span class="profile-info__icon icon-location"></span> Город: Краснодар
                      li.profile-info__item: <span class="profile-info__icon icon-calendar"></span> Дата рождения: 02.01.2015 (Козерог)
                      li.profile-info__item: <span class="profile-info__icon icon-users-1"></span> Группа: Администраторы
                      li.profile-info__item: <span class="profile-info__icon icon-comment"></span> Публикаций: 129 [ <a href="#" class="white-link">Смотреть</a> ]
                      li.profile-info__item: <span class="profile-info__icon icon-comment-empty"></span> Комментариев: 13 [ <a href="#" class="white-link">Смотреть</a> ]
                  .col-md-2
                    span.db.profile-info__title.green Контакты
                    ul.lsn.pl0.mb0.profile-info__list
                      li.profile-info__item: <span class="profile-info__icon icon-vk"></span> <a href="#" class="white-link">Вконтакте</a>
                      li.profile-info__item: <span class="profile-info__icon icon-odnoklassniki"></span> <a href="#" class="white-link">Одноклассники</a>
                      li.profile-info__item: <span class="profile-info__icon icon-gplus"></span> <a href="#" class="white-link">Google +</a>
                      li.profile-info__item: <span class="profile-info__icon icon-facebook"></span> <a href="#" class="white-link">Facebook</a>
                      li.profile-info__item: <span class="profile-info__icon icon-twitter"></span> <a href="#" class="white-link">Twitter</a>
                      li.profile-info__item: <span class="profile-info__icon icon-skype"></span> <a href="#" class="white-link">Skype</a>
                      li.profile-info__item: <span class="profile-info__icon icon-paper-plane"></span> <a href="#" class="white-link">Telegram</a>
                      li.profile-info__item: <span class="profile-info__icon icon-mail-1"></span> <a href="#" class="white-link">Почта</a>
                  .col-md-4
                    span.db.profile-info__title.orange Панель управления
                    .row-responsive
                      .col-md-6
                        a(href="#").btn.btn-red.fluid.profile-info__fun-button Добавить новость
                        a(href="#").btn.btn-red.fluid.profile-info__fun-button Мой профиль
                        a(href="#").btn.btn-red.fluid.profile-info__fun-button Сообщения (0 | 0)
                        a(href="#").btn.btn-red.fluid.profile-info__fun-button Мои закладки
                      .col-md-6
                        a(href="#").btn.btn-red.fluid.profile-info__fun-button Все комментарии
                        a(href="#").btn.btn-red.fluid.profile-info__fun-button Новые материалы
                        a(href="#").btn.btn-red.fluid.profile-info__fun-button Статистика
                        a(href="#").btn.btn-red.fluid.profile-info__fun-button Выход


