div(block="white-block")
  h4(elem="title") <span class="icon-bookmark"></span> Последнее из Datalife Engine

  div(block="news-tab")

    // Nav tabs
    ul.nav.nav-tabs(role='tablist' elem="nav")
      each val, i in newsTab
        li(role='presentation' class="#{(val.active)?('active'):('')}" elem="nav-item")
          a(href='##{val.blob}#{i}', aria-controls='#{val.blob}#{i}', role='tab', data-toggle='tab' elem="nav-link") #{val.name}

    // Tab panes
    .tab-content(elem="content")
      each val, i in newsTab
        div(role='tabpanel' id="#{val.blob}#{i}" class="tab-pane #{(val.active)?('active'):('fade')}" elem="panel")
          .row(elem="row-table")
            .col-md-6(elem="col-table")
              div(block="tab-grand-news")
                img(src="https://unsplash.it/330/180/?random" alt="tab news image" elem="img").img-responsive
                h2(elem="title").text-bold.db: a(href="#" elem="link").dark-blue-link #{text[Math.floor(Math.random() * ((text.length-1) - 0 + 1)) + 0]}
                include ../news-metadata/_news-metadata
                span(elem="description").db #{text[Math.floor(Math.random() * ((text.length-1) - 0 + 1)) + 0]}
                a(href="#" role="button" elem="button").btn.btn-orange.db Читать подробнее
            .col-md-6(elem="col-table")
              -for(var e = 0; e < 3; e++)
                div(block="tab-mini-news")
                  .row(elem="row")
                    .col-md-6(elem="col")
                      img(src="https://unsplash.it/150/80/?random" alt="tab news image" elem="img").img-responsive
                    .col-md-6(elem="col")
                      h3(elem="description"): a(href="#" elem="link").dark-blue-link.text-bold #{text[Math.floor(Math.random() * ((text.length-1) - 0 + 1)) + 0]}
                  include ../news-metadata/_news-metadata
